// app global css in Sass form

@font-face
  font-family: ubuntu
  src: url(./fonts/ubuntu/Ubuntu-Regular.ttf)

@font-face
  font-family: lexend
  src: url(./fonts/lexend/Lexend-Regular.ttf)

*
  font-family: 'ubuntu'

