.calltoaction {
    background-image: url(../img/4k-wallpaper-adorable-blur-boy-1148998.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.jumbotron {
    text-align: center;
}

.pinktext {
    color: pink;
}

.pinkback {
    background-color: pink;
    border-color: pink;
}

.features {
    text-align: center;
    padding: 5rem;
}

.features h3 {
    color: pink;
}

.features .fas {
    color: pink;
    padding: 2rem;
}

.features hr {
    width: 10%;
    border: 5px solid pink;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.testimonials {
    padding: 5rem;
}

footer {
    padding: 5rem;
    text-align: center;
    color: pink;
}

footer p {
    color: white;
}

footer .fab {
    color: pink;
    font-size: 1.5rem;
    padding: 0.1rem;
}