*:not(input, select) {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.24s;
          transition-duration: 0.24s;
}

h1, h2, h3, h4 {
  font-family: "Coiny", cursive;
  color: #1e3799;
}

h5 {
  font-family: "Coiny", cursive;
}

h1 {
  font-size: 1rem;
}

h2 {
  padding: 3rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

body {
  background-image: url(../images/houndstooth-pattern.png);
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

header {
  background-color: #6a89cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul li {
  margin: 1rem;
}

header ul a {
  text-decoration: none;
  color: white;
}

main {
  text-align: center;
}

main > div {
  text-align: initial;
  height: 100%;
  width: 70vw;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 6px 7px 31px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 7px 31px 7px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 1rem;
}

main div section .align-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

main div section .align-div i {
  color: #1e3799;
}

footer {
  background-color: #6a89cc;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer span {
  color: white;
  margin: 1rem;
  vertical-align: middle;
}

.species__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2rem;
}

.species__flex img {
  border-radius: 50%;
  border: 4px solid #1e3799;
}

.species__flex figcaption {
  color: #1e3799;
}

.species__flex figure {
  text-align: center;
}

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__flex div article {
  margin-top: 1rem;
}

.contact__flex div article p {
  line-height: 1.75;
}

.contact__flex div article form input, .contact__flex div article form select, .contact__flex div article form textarea {
  border-radius: 0.2rem;
  border: groove lightgrey;
  display: block;
  width: 30rem;
  margin-bottom: 0.5rem;
  color: #1e3799;
}

.contact__flex div article form input[type="submit"] {
  background-color: #1e3799;
  border: none;
  color: white;
  height: 1.4rem;
}

iframe {
  width: 600px;
  height: 450px;
  border: 4px solid #1e3799;
}

a.anchor {
  display: block;
  position: relative;
  top: -2rem;
  visibility: hidden;
}

nav ul li a:hover {
  color: #0d1844;
}

img:hover {
  -webkit-transform: scale(1.24, 1.24);
          transform: scale(1.24, 1.24);
}

.home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#carouselIndicators {
  width: 60rem;
  margin-right: 5rem;
}

#home-wrapper__information p {
  margin-bottom: 2rem;
  margin-right: 5rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 25%;
  margin: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card img {
  width: 100%;
}

.card h5 {
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */